<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>О мне</title>
</head>
<body>
    <section class="main-content">
        {{>header}}
        <p>Этот сайт был создан Гасаном Алкадарским. 
        Для получения данных были использованы сервисы mapbox.com и darksky.net.</p>
        <img class="portrait" src="/img/bandugi.jpg" alt="Бандюки">
    </section>
    
    {{>footer}}
</body>
</html>